<p id="notice"><%= notice %></p>

<h1>プレイ人数を選択</h1>
最低3人の名前を入力してください<br>
名前は上から詰めて入力してください<br>

<form action="../individual/teller" name="to_start" method="get" onsubmit="return check_form()">
  <input type="text" name="name1" id="n1" /><br>
  <input type="text" name="name2" id="n2" /><br>
  <input type="text" name="name3" id="n3" /><br>
  <input type="text" name="name4" id="n4" /><br>
  <input type="text" name="name5" id="n5" /><br>
  <input type="text" name="name6" id="n6" />
  <input type="submit" value="ゲームスタート" >
</form>

<br>
